<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>物资管理页</title>
    <link rel="stylesheet" href="./public/index.css" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- 引入 JSSDK -->
    <!-- JS 文件版本在升级功能时地址会变化，如有需要（比如使用新增的 API），请重新引用「网页应用开发指南」中的JSSDK链接，确保你当前使用的JSSDK版本是最新的。-->
    <script
      type="text/javascript"
      src="https://lf1-cdn-tos.bytegoofy.com/goofy/lark/op/h5-js-sdk-1.5.16.js"
    ></script>
    <!-- 在页面上添加VConsole方便调试-->
    <script src="https://unpkg.com/vconsole/dist/vconsole.min.js"></script>
    <script>
      var vConsole = new window.VConsole();
    </script>
    <!-- 第三方拓展 -->
    <link rel="stylesheet" href="./public/thirdly/button-3d.css" />
    <script src="./public/thirdly/button-3d.js"></script>
  </head>

  <body>
    <button-3d data-title="扫码"></3d-button>
    <button-3d data-title="手动输入物品ID" onclick="inputItemID()"></3d-button>
    <button-3d data-title="扫码"></3d-button>
    
    <script src="./public/item_manager.js"></script>
  </body>
</html>